/* imported font from google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */
* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.text-light-grey {
  color: #727272;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 20px 0;
}
/* header styles */
header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin-right: 30px;
  list-style: none;
}

header li a {
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}

/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main section styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.team-container {
  display: flex;
  align-items: center;
  margin-top: 85px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding-right: 70px;
  padding-left: 70px;
}
.team-content-title {
  font-size: 2.8rem;
  color: #727272;
  font-weight: 500;
}
.text-features {
  color: #131313;
  font-weight: 700;
}
.text-features-2 {
  color: #ff900e;
  font-weight: 700;
}
/* features section styles */
.feature-container {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.feature-content .card {
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-content .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-img img {
  height: 90%;
  margin-left: 50px;
}
.ten-years-badge {
  width: 342px;
  background-color: #ff900e;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  top: -100px;
}
.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0px;
  font-weight: 700;
}
.ten-years-badge p {
  font-size: 1.5rem;
  margin-top: 10px;
}
/* facts section styles */
.fact-section {
  margin-top: 80px;
}
.fact-card-container {
  display: flex;
  justify-content: space-around;
}
.fact-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px 30px;
}
.fact-card-container .facts-stats {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* sponsor section styles */
.sponsor-container {
  text-align: center;
  margin-top: 80px;
}
.sponsor-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 40px;
}
.sponsor-img-container img {
  height: 50px;
}
/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  header nav,
  .fact-card-container,
  .feature-container,
  .sponsor-img-container {
    flex-direction: column;
  }
  .team-container {
    flex-direction: column-reverse;
  }
  .team-image {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-img img {
    width: 100%;
    margin-left: 0px;
  }
  .ten-years-badge {
    width: 300px;
    position: static;
    margin: auto;
  }
  .team-content,
  .fact-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .fact-card-container {
    gap: 15px;
  }
  .sponsor-img-container img {
    width: 50%;
    height: 100%;
  }
}
/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 900px) {
  header {
    padding: 50px;
  }
  header nav,
  .team-container,
  .feature-container,
  .sponsor-img-container {
    flex-direction: column;
  }
}
